@import 'src/styles/variables';

$white: #fff;
$bright-foreground-color: rgba(245, 178, 0, 1);
$outline-color: rgba(3, 242, 52, 0.85);
$dark-background-color: rgba(58, 58, 58, 1);

$ignored-tags: div;

// Root
.darkContrast body {
  color: $bright-foreground-color !important;
  background-color: $dark-background-color !important;
}

// Content Sections
@each $tag in $tags-content-section {
  .darkContrast #{$tag}:not(#{$ignored-tags}) {
    color: $bright-foreground-color !important;
    background-color: $dark-background-color !important;
  }
}

// Text Content
@each $tag in $tags-text-content {
  .darkContrast #{$tag}:not(#{$ignored-tags}) {
    color: $bright-foreground-color !important;
    background-color: $dark-background-color !important;
  }
}

// Inline Text Semantics
@each $tag in $tags-inline-text-semantics {
  .darkContrast #{$tag}:not(#{$ignored-tags}) {
    color: $bright-foreground-color !important;
    background-color: $dark-background-color !important;
  }
}

// Media
@each $tag in $tags-media {
  .darkContrast #{$tag}:not(#{$ignored-tags}) {
    color: $bright-foreground-color !important;
    background-color: $dark-background-color !important;
    outline: 2px solid $outline-color !important;
    outline-offset: 1px !important;
  }
}

// Tables
@each $tag in $tags-table {
  .darkContrast #{$tag}:not(#{$ignored-tags}) {
    color: $bright-foreground-color !important;
    background-color: $dark-background-color !important;
  }
}

// Forms
@each $tag in $tags-forms {
  .darkContrast #{$tag}:not(#{$ignored-tags}) {
    color: $bright-foreground-color !important;
    background-color: $dark-background-color !important;
    outline: 2px solid $outline-color !important;
    outline-offset: 1px !important;
  }
}
