/* Name must NOT contain hyphen */
.widgetContainer {
  position: fixed;
  top: 5%;
  left: 0;
  height: 80%;
  width: 20%;
  max-width: 300px;
  min-width: 200px;
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
}

