@import 'src/styles/variables';

// Reset widget styling
.#{$widget-container} {
  all: unset;
}

.#{$widget-container} {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 5%;
  left: 0;
  width: 20%;
  max-height: 600px;
  max-width: 350px;
  min-width: 250px;
  overflow: auto;
  z-index: 999;
}

.#{$widget-container} * {
  //background-color: #fff;
  //margin: 0;
  //padding: 0;
  //border: 0;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: -.00278rem;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.#{$widget-container} h1 {
  font-size: 24px;
}

.#{$widget-container} h2 {
  font-size: 23px;
}

.#{$widget-container} h3 {
  font-size: 22px;
}

.#{$widget-container} h4 {
  font-size: 21px;
}

.#{$widget-container} h5 {
  font-size: 19px;
}

.#{$widget-container} h6 {
  font-size: 18px;
}

.#{$widget-container} button {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-weight: 700;
  letter-spacing: normal;
  border: 2px solid #535452;
  background-color: #fff;
  padding: 5px 11px;
  color: #212121;
  text-decoration: none;
}

.#{$widget-container} button:focus,
.#{$widget-container} button:hover {
  color: rgba(255,255,255,0.9);
  background-color: $default-highlight-color-secondary;
  border-color: #373737;
  box-shadow: inset 0 1px 0 darken($default-highlight-color-secondary, 20%);
}

.#{$widget-container} select {
  border: 1px solid #535452;
  width: 100%;
}

// Applied to everything that explicitly receives focus through the Widget.
.#{$widget-prefix}-focused {
  background-color: rgba($default-highlight-color-secondary, 1) !important;
  outline: 2px solid rgba($default-highlight-color-primary, 0.5) !important;
  outline-offset: 1px !important;
}
