.modal {
  background-color: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  .modalContainer {
    //  Add custom styling
    background: inherit;
  }
}
