@import 'src/styles/variables';

.#{$widget-prefix}-tooltip {
  background: #333;
  border-radius: 4px;
  color: white;
  display: none;
  font-size: 24px;
  font-weight: bold;
  max-width: 200px;
  padding: 4px 8px;
  z-index: 9999;

  &::after {
    content: attr(data-content);
  }

  &[data-tooltip-show] {
    display: block;
  }
}
